{% extends '../base.html' %}
{% load static %}
{% block content %}
	<div class="mailbox-area mg-b-15">
	    <div class="container-fluid">
	        <div class="row">
	            {% include './menu.html' %}
	            <div class="col-md-9 col-md-9 col-sm-9 col-xs-12">
	                <div class="hpanel">
	                    <div class="panel-heading hbuilt mailbox-hd">
	                        <div class="text-center p-xs font-normal">
	                            <div class="input-group">
	                                <input type="text" class="form-control input-sm" placeholder="Buscar correo electrónico enviado..."> <span class="input-group-btn active-hook"> <button type="button" class="btn btn-sm btn-default">Search
										</button> </span></div>
	                        </div>
	                    </div>
	                    <div class="panel-body">
	                        <div class="row">
	                            <div class="col-md-6 col-md-6 col-sm-6 col-xs-8">
	                                <div class="btn-group ib-btn-gp active-hook mail-btn-sd mg-b-15">
	                                    <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
	                                    <button class="btn btn-default btn-sm"><i class="fa fa-eye"></i></button>
	                                    <button class="btn btn-default btn-sm"><i class="fa fa-exclamation"></i></button>
	                                    <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
	                                    <button class="btn btn-default btn-sm"><i class="fa fa-check"></i></button>
	                                    <button class="btn btn-default btn-sm"><i class="fa fa-tag"></i></button>
	                                </div>
	                            </div>
	                            <div class="col-md-6 col-md-6 col-sm-6 col-xs-4 mailbox-pagination">
	                                <div class="btn-group ib-btn-gp active-hook mail-btn-sd mg-b-15">
	                                    <button class="btn btn-default btn-sm"><i class="fa fa-arrow-left"></i></button>
	                                    <button class="btn btn-default btn-sm"><i class="fa fa-arrow-right"></i></button>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="table-responsive ib-tb">
	                            <table class="table table-hover table-mailbox">
	                                <tbody>
	                                	{% for i in message %}
	                                    <tr class="">
	                                        <td class="">
	                                            <div class="checkbox checkbox-single checkbox-success">
	                                                <input type="checkbox" checked>
	                                                <label></label>
	                                            </div>
	                                        </td>
	                                        <td><a href="{% url 'View_Email' i.pk %}">{{i.from_name}}</a></td>
	                                        <td><a href="{% url 'View_Email' i.pk %}">{{i.message}}</a>
	                                        </td>
	                                        <td><i class="fa fa-paperclip"></i></td>
	                                        <td class="text-right mail-date">{{i.date}}</td>
	                                    </tr>
	                                    {% endfor %}
	                                </tbody>
	                            </table>
	                        </div>
	                    </div>
	                    <div class="panel-footer ib-ml-ft">
	                        <i class="fa fa-eye"> </i> 6 unread
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
{% endblock %}